# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js cache
.next

# API key for Alphavantage.
# Note that this is far from an ideal solution (there are solutions such as Blackbox or Docket Secrets)
# but this works for now locally as an easy solution.
server/apikey.ts